body {
    background-color: rgb(52, 0, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: rgb(250, 188, 250);
    background-color: rgb(35, 19, 35);
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(250, 188, 250, 0.2); 
    z-index: 1000;
}

#logo {
    width: 200px;      
    height: auto;     
    margin-right: 15px;
}

h2 {
    color: rgb(250, 188, 250);
    margin-bottom: 20px;
    text-align: center;
}

span, label {
    color: rgb(250, 188, 250);
}

div{
    background-color: rgb(23, 0, 23);
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    padding: 30px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(13, 0, 15, 0.6);
}
div:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8); 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(250, 188, 250);
    color: rgb(52, 0, 52);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(252, 213, 252);
}

footer {
    background-color: rgb(35, 19, 35);
    color: rgb(250, 188, 250);
    text-align: center;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(250, 188, 250, 0.2);
}

input:valid {
    border-color: rgb(216, 138, 255);
}
input:invalid {
    border-color: rgb(231, 98, 98);
}
